@import "./../../../variable.scss";

.iconLink {
    background: $hintgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 4px;

    &:hover {
        background-color: $berylgreen;
    }
}

.iconColor {
    color: $Rum;
}
