// colors
// gray - blue
$midnight: #2d3047;
$gullgray: #97a7b3;
$portage: #8093f1;
$bonjour: #f1eff0;
$pampas: #f4f4ed;
//green
$swampgreen: #a0bc90;
$mossgreen: #afd797;
$berylgreen: #cae7b9;
$hintgreen: #f5fff9;

//purple
$Rum: #6e5c85;
$bilobaflower: #b388eb;
$coldpurple: #baa3d9;
$moonraker: #e4d7f5;
