@import "./../../../variable.scss";

.searchBar {
    background: $gray1;
    border-radius: 16px;
    height: 30px;
    width: 300px;
    display: flex;
    padding: 0 8px;
    margin: 0 16px;
    display: flex;
    align-items: center;

    &:hover {
        background: $gray2;
    }

    svg {
        path {
            fill: gray;
        }
    }

    input {
        margin-left: 16px;
        border: none;
        background-color: transparent;
        outline: none;
        &:focus {
            border: none;
            outline: none;
        }
    }
}
