@import "./../../../variable.scss";

.roundLink {
    background: $gray1;
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 4px;

    &:hover {
        background-color: $gray2;
    }
}
